fastapi
uvicorn
streamlit
transformers
torch
sentence-transformers
pandas
numpy
pydantic
azure-ai-ml
azure-identity
azure-storage-blob
python-docx
pdfplumber
tika
scikit-learn
xgboost
shap
mlflow
datasets
wandb
